{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/video.css' %}">

<div class="join-room">
    <div class="join-room__header">
        <h1 class="join-room__title">Join Video Room</h1>
        <p class="join-room__subtitle">Connect with your study partners in real-time</p>
    </div>
    
    <form class="join-room__form" action="{% url 'joinroom' %}" method="POST">
        {% csrf_token %}
        <input 
            type="text" 
            class="join-room__input" 
            placeholder="Enter room ID" 
            name="roomID"
            required
        >
        
        <button class="join-room__button" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path fill="currentColor" d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
            Join Room
        </button>

        {% if success %}
        <div class="message message--success">
            {{ success }}
        </div>
        {% endif %}
        
        {% if error %}
        <div class="message message--error">
            {{ error }}
        </div>
        {% endif %}
    </form>

    <div class="join-room__footer">
        <p>Want to create your own Room? <a href="{% url 'register' %}">Create Now</a></p>
    </div>
</div>
{% endblock content %}